{% extends 'layout/simple.html.twig' %}

{% block title %}{{ parent() }} - {{ 'app.security.login.title'|trans }}{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1>{{ 'app.security.login.title'|trans }}</h1>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text">
                <i class="c-icon cil-user"></i>
            </span>
            </div>
            <input class="form-control" type="text" name="username" value="{{ last_username }}" placeholder="{{ 'app.security.login.username'|trans }}">
        </div>
        <div class="input-group mb-4">
            <div class="input-group-prepend">
            <span class="input-group-text">
                <i class="c-icon cil-lock-locked"></i>
            </span>
            </div>
            <input class="form-control" type="password" name="password" placeholder="{{ 'app.security.login.password'|trans }}">
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="row">
            <div class="col-6">
                <button class="btn btn-primary px-4" type="submit">{{ 'app.security.login.submit'|trans }}</button>
            </div>
        </div>
    </form>
{% endblock %}