<ul class="c-sidebar-nav">
    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" href="{{ path('integrator_dashboard') }}">
            <i class="c-sidebar-nav-icon cil-speedometer"></i> {{ 'app.sidebar.dashboard'|trans }}
        </a>
    </li>
    <li class="c-sidebar-nav-title">{{ 'app.sidebar.main'|trans }}</li>
    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" href="{{ path('integrator_products_import_index') }}">
            <i class="c-sidebar-nav-icon cil-library"></i> {{ 'app.sidebar.importProduct'|trans }}
        </a>
        <a class="c-sidebar-nav-link" href="{{ path('integrator_products_index') }}">
            <i class="c-sidebar-nav-icon cil-coffee"></i> {{ 'app.sidebar.products'|trans }}
        </a>
        <a class="c-sidebar-nav-link" href="{{ path('integrator_offer_index') }}">
            <i class="c-sidebar-nav-icon cil-find-in-page"></i> {{ 'app.sidebar.offer'|trans }}
        </a>
    </li>
</ul>