{% extends 'layout/default.html.twig' %}
{% import 'macro/pagination.html.twig' as macroPagination %}

{% block body %}
    {{ macroPagination.render(pagination, {showItemsCount: true}) }}
    <table class="table table-responsive-sm table-hover table-outline mb-0 table-white-bg">
        <thead class="thead-light">
        <tr>
            <th scope="col">{{ 'app.offer.index.table.thId'|trans }}</th>
            <th scope="col">{{ 'app.offer.index.table.thName'|trans }}</th>
            <th scope="col">{{ 'app.offer.index.table.thStatus'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for offer in pagination %}
            <tr>
                <td>{{ offer.id }}</td>
                <td>{{ offer.name }}</td>
                <td>{{ offer.status }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}